<em>Stupid Coaching</em><br>
Ask your coach anything

<form action="/answer" method="get">
  <%# <input type="text" name="???"> %>
  <input type="text"
       name="question"
       value="<%= params[:question] %>"
       placeholder="Your question !">
  <input type="submit" value="Ask!">
</form>
